---
apiVersion: v1
kind: Secret
metadata:
  name: field-content-repo-credentials
  namespace: {{ ocp4_workload_field_content_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: "{{ ocp4_workload_field_content_gitops_repo_url }}"
  username: "git"
  password: "{{ ocp4_workload_field_content_gitops_repo_key }}"
