---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: hcp-configuration
  namespace: {{ ocp_workload_rhacm_hcp_policies_namespace }}
spec:
  componentKinds:
  - group: apps.open-cluster-management.io
    kind: Subscription
  descriptor: {}
  selector:
    matchLabels:
      app: hcp-configuration
