---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: hcp-configuration
  namespace: {{ ocp_workload_rhacm_hcp_policies_namespace }}
  labels:
    app: hcp-configuration
spec:
  predicates:
  - requiredClusterSelector:
      labelSelector:
        matchLabels:
          local-cluster: 'true'
  clusterSets:
  - global
