---
apiVersion: v1
kind: Secret
metadata:
  name: aws-secret-access-key
  namespace: {{ ocp_workload_rhacm_hcp_policies_namespace }}
type: Opaque
data:
  secret-access-key: {{ ocp_workload_rhacm_hcp_policies_aws_secret_access_key | b64encode }}
