---
apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: hcp-configuration
  namespace: {{ ocp_workload_rhacm_hcp_policies_namespace }}
  annotations:
    apps.open-cluster-management.io/git-branch: {{ ocp_workload_rhacm_hcp_policies_repository_branch }}
    apps.open-cluster-management.io/git-path: "{{ ocp_workload_rhacm_hcp_policies_repository_path }}"
    apps.open-cluster-management.io/reconcile-option: merge
  labels:
    app: hcp-configuration
spec:
  channel: {{ ocp_workload_rhacm_hcp_policies_namespace }}/hcp-configuration
  placement:
    placementRef:
      kind: Placement
      name: hcp-configuration
