---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ ocp4_workload_external_odf_operator_namespace }}"
  labels:
    openshift.io/cluster-monitoring: "true"
    pod-security.kubernetes.io/enforce: privileged
