apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: {{ ocp4_workload_authentication_keycloak_default_realm }}
spec:
  keycloakCRName: keycloak
  realm:
    id: {{ ocp4_workload_authentication_keycloak_default_realm }}
    realm: {{ ocp4_workload_authentication_keycloak_default_realm }}
    enabled: true
    sslRequired: external
    registrationAllowed: true
    loginWithEmailAllowed: true
    duplicateEmailsAllowed: false
    clients:
      # OpenShift OAuth client (always created)
      - clientId: {{ ocp4_workload_authentication_keycloak_openshift_client_id }}
        enabled: true
        clientAuthenticatorType: client-secret
        secret: {{ _ocp4_workload_authentication_keycloak_openshift_client_secret }}
        publicClient: false
        redirectUris:
        - "*"
        standardFlowEnabled: true
        directAccessGrantsEnabled: true
        serviceAccountsEnabled: true
        frontchannelLogout: false
        protocol: openid-connect
{% if ocp4_workload_authentication_keycloak_sandbox_api_admin | bool %}
      - clientId: {{ ocp4_workload_authentication_keycloak_sandbox_api_admin_client_id }}
        enabled: true
        clientAuthenticatorType: client-secret
        secret: {{ _ocp4_workload_authentication_keycloak_sandbox_api_admin_client_secret }}
        publicClient: false
        redirectUris: []
        standardFlowEnabled: false
        directAccessGrantsEnabled: false
        serviceAccountsEnabled: true
        frontchannelLogout: false
        protocol: openid-connect
{% endif %}
{% if ocp4_workload_authentication_keycloak_clients | length > 0 %}
      # Additional clients
{% for client in ocp4_workload_authentication_keycloak_clients %}
      - clientId: {{ client.clientId }}
        enabled: true
        clientAuthenticatorType: client-secret
        secret: {{ client.secret }}
        publicClient: {{ client.publicClient | default(false) }}
        redirectUris:
{% if client.redirectUris is defined %}
{% for uri in client.redirectUris %}
        - {{ uri }}
{% endfor %}
{% else %}
        - "*"
{% endif %}
        standardFlowEnabled: {{ client.standardFlowEnabled | default(true) }}
        directAccessGrantsEnabled: {{ client.directAccessGrantsEnabled | default(true) }}
        serviceAccountsEnabled: {{ client.serviceAccountsEnabled | default(true) }}
        frontchannelLogout: false
        protocol: openid-connect
{% if client.description is defined %}
        description: {{ client.description }}
{% endif %}
{% endfor %}
{% endif %}
    roles:
      realm:
        - name: user
          description: "Default user role"
        - name: admin
          description: "Administrator role"
{% if ocp4_workload_authentication_keycloak_num_users > 0 or ocp4_workload_authentication_keycloak_admin_create or ocp4_workload_authentication_keycloak_sandbox_api_admin | bool %}
    users:
{% if ocp4_workload_authentication_keycloak_sandbox_api_admin | bool %}
      - username: service-account-{{ ocp4_workload_authentication_keycloak_sandbox_api_admin_client_id }}
        enabled: true
        serviceAccountClientId: {{ ocp4_workload_authentication_keycloak_sandbox_api_admin_client_id }}
        clientRoles:
          realm-management:
{% for role in ocp4_workload_authentication_keycloak_sandbox_api_admin_realm_management_roles %}
            - {{ role }}
{% endfor %}
{% endif %}
{% for i in range(1, ocp4_workload_authentication_keycloak_num_users + 1) %}
      - username: {{ ocp4_workload_authentication_keycloak_user_username_base }}{{ i }}
        enabled: true
        emailVerified: true
        email: {{ ocp4_workload_authentication_keycloak_user_username_base }}{{ i }}@demo.redhat.com
        firstName: {{ ocp4_workload_authentication_keycloak_user_username_base | capitalize }}{{ i }}
        lastName: Demo
        credentials:
          - type: password
            value: {{ _ocp4_workload_authentication_keycloak_user_password }}
            temporary: false
        realmRoles:
          - user
        groups:
          - /users
{% endfor %}
{% if ocp4_workload_authentication_keycloak_admin_create %}
      - username: {{ ocp4_workload_authentication_keycloak_admin_username }}
        enabled: true
        emailVerified: true
        email: {{ ocp4_workload_authentication_keycloak_admin_username }}@demo.redhat.com
        firstName: {{ ocp4_workload_authentication_keycloak_admin_username | capitalize }}
        lastName: Demo
        credentials:
          - type: password
            value: {{ _ocp4_workload_authentication_keycloak_admin_password }}
            temporary: false
        realmRoles:
          - admin
        groups:
          - /admins
{% endif %}
{% else %}
    users: []
{% endif %}
    groups:
      # Default groups (always created)
      - name: admins
      - name: users
