apiVersion: v1
kind: Secret
metadata:
  name: sandbox-api-keycloak-admin
  namespace: {{ ocp4_workload_authentication_keycloak_namespace }}
type: Opaque
stringData:
  KEYCLOAK_URL: https://{{ ocp4_workload_authentication_keycloak_host_prefix }}.{{ openshift_cluster_ingress_domain }}
  KEYCLOAK_REALM: {{ ocp4_workload_authentication_keycloak_default_realm }}
  KEYCLOAK_CLIENT_ID: {{ ocp4_workload_authentication_keycloak_sandbox_api_admin_client_id }}
  KEYCLOAK_CLIENT_SECRET: {{ _ocp4_workload_authentication_keycloak_sandbox_api_admin_client_secret }}
