---
apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: {{ _ocp_workload_rhacm_hcp_cluster_name }}
  namespace: {{ _ocp_workload_rhacm_hcp_cluster_name }}
spec:
  clusterName: {{ _ocp_workload_rhacm_hcp_cluster_name }}
  clusterNamespace: {{ _ocp_workload_rhacm_hcp_cluster_name }}
  clusterLabels:
    cloud: auto-detect
    vendor: auto-detect
  applicationManager:
    enabled: true
  certPolicyController:
    enabled: true
  iamPolicyController:
    enabled: true
  policyController:
    enabled: true
  searchCollector:
    enabled: true
